<form action="create_project" style="padding: 1rem" method="POST">
    <label for="project_name" class="col-form-label" onchage="name_change">Project name</label>
    <input pattern="[A-Za-z0-9 ]+" title="Please only use alphanumeric characters" type="text" class="form-control" name="project_name" id="project_name" maxlength="60" required>
    <label for="project_dir" class="col-form-label">Project directory</label>
    <input type="text" class="form-control" name="project_dir" id="project_dir" maxlength="250">
    <label for="project_lang" class="col-form-label">Project language(s)</label>
    <input type="text" class="form-control" name="project_lang" id="project_lang">
    <label for="project_desc" class="col-form-label">A short description</label>
    <input type="text" class="form-control" name="project_desc" id="project_desc" maxlength="70">
  <div class="modal-footer ">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Create project</button>
  </div>
</form>